*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hundred{
    float: left;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    background-color: #f1f1f1;
}
.container{
    /* margin-top: 2%; */
    max-width: 800px;
    width: 100%;
    margin:1% auto;
    background-color: white;
}
.logo-name {
   width: 25%;
   margin: 4% 2.5%;
   text-align: center;
}
.logo-name >p {
    font-size: 18px;
    font-weight: bold;
}
.logo-name .address,.invoice .invoice-desc{
    font-size: 14px!important;
    font-weight: 400!important;
    text-align: left!important;
    padding: 7px;

}
.col1{
  width: 100%;
  float: left;
}
/* .col1 .address, .col1 .invoice-desc{
    margin: 0 2.5%;
    font-size: 16px;
    width: 45%;
} */
/* .col1 .invoice-desc{
    padding: 0 50px;
} */
.col1 .invoice{
    width: 25%;
    text-align: left;
    margin: 4% 2.5%;
    font-size: 20px;
    font-weight: bold;
}
.mar-bot{
    margin-bottom: 2%;
}
.col1 .logo{
    width: 35%;
    margin: 2% 2.5%;
    /* padding: 20px; */
}
.col1 .logo img{
    width: 100%;
}
.col1 .to,.col1 .shipto{
    width: 45%;
    margin: 0.5% 2.5%;
    font-size: 16px;
    font-weight: bold;
}
.col1 .col{
    width: 45%;
    margin: 1% 2.5%;
    padding: 0 0px;
}
#border{
    border: black solid 1px;
    /* width: 80%;
    margin: 1% auto; */
    width: 100%;
    margin: 1% 0;
}
/* .border-bottom{
    border-bottom: 3px black solid;
    /* width: 80%; */
    /* margin-bottom: 2%; */
/* } */
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table{
    margin: auto;
}
.border-none tr,.border-none td{
    border: none;
}
td[colspan="3"]{
    text-align: right;
    border-left: 1px solid
}
#top{
    border-top: 1px solid black;
}
