
table {
    border-collapse: collapse;
    border: 2px solid #000;
}
.title {
    font-size: 22px;
    font-weight: 600;
    margin-left: 140px;
}
.gst {
    font-weight: 600;
}
.round {
    font-weight: 600;
    margin-bottom: 110px !important;
    display: inline-block;
}
.cond {
    float: right;
}
.br-details>td {
    vertical-align: top;
}
.bank .bblank {
    border-top: 1px solid #fff !important;
    border-left: 1px solid #000;
}
.bank .bdetails {
    border-left: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
    border-right: 1px solid #000 !important;
    border-bottom: 1px solid #000;
}
.declare .dd {
    border-top: 1px solid #fff;
    border-left: 1px solid #000;
}
.sign {
    float: right;
    font-weight: 600;
}
.autho {
    float: right;
}
td {
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 2px;
}
.word .amnt {
    border-bottom: 0px solid #000;
}
.bper {
    width: 9%;
}
.bqua {
    width: 10%;
}
